<h1>Focus</h1>

<p class="time">{{ remainingSeconds * 1000 | date:'mm:ss' }}</p>

<p>
  For the next 25 minutes,<br>
  I will focus on:
</p>
<input [(ngModel)]="task" placeholder="Task" (keyup)="taskKeyup()">
<button class="round" (click)="startPause()">{{ running ? 'Pause' : 'Start' }}</button>
<button class="round" (click)="reset()">Reset</button>

<ng-container *ngIf="completed.length > 0">
  <h2>Completed</h2>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Task</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of completed; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ session.task }}</td>
        <td>{{ session.endTime | date : 'HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="clear()">Clear</button>
</ng-container>

<p class="description">
  A timer to track focusing in 25 minute intervals,
  which is a good length of time to stay focused before taking a small break.
</p>
<ol>
  <li>Write your task</li>
  <li>Make a promise to yourself</li>
  <li>Click the start button</li>
</ol>
<p class="description">
  The idea is based on the
  <a href="https://francescocirillo.com/pages/pomodoro-technique">Pomodoro Technique</a>
  (<a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">wiki</a>),
  except that short and long breaks are not tracked.
</p>

<footer>
  <p class="version">v1.0.0</p>
  <a href="https://paulsbond.co.uk">https://paulsbond.co.uk</a>
</footer>
