h1 {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2.5rem;
  padding: 10px;
}

h1, h2, p, input, button, table {
  margin-bottom: 15px;
}

.time {
  background-image: url("~/assets/icons/icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 6.8rem;
  font-weight: 600;
  height: 200px;
  line-height: 200px;
}

input {
  border-radius: 10px;
  border: 2px solid #851532;
  display: block;
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  text-align: center;
  width: 300px;
}

button {
  background-color: #666147;
  border-radius: 5px;
  border: 2px solid #494533;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px 10px;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: #555139;
  }
}

@media (hover: none) {
  button, input {
    outline: 0;
  }
}

button.action {
  height: 60px;
  width: 70px;
  vertical-align: middle;
  border: none;
  background: #af1e45;
}

button.action.main {
  width: 100px;
}

button.action.active {
  background: #8b1635;
}

button.action[disabled] {
  color: #5e0f24;
  cursor: default;
}

button.round {
  border-radius: 100%;
  box-shadow: 0 2px #444;
  height: 80px;
  width: 80px;
}

button.round:active {
  background-color: #555139;
  box-shadow: 0 1px #333;
  transform: translateY(1px);
}

table {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 0 5px;
}

a {
  color: inherit;
}

.description {
  margin: 20px auto;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.version {
  margin: 0;
}

footer {
  border-top: 1px solid #666;
  font-size: 0.9rem;
  margin-top: 20px;
  padding: 10px;
}

input, button, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
